/* IMPORTO LOS DEMAS CSS PARA TENERLO TODO ORDENADO */
@import "./titulos-H/titulosh1.css";
@import "./titulos-H/titulosh2.css";
@import "./text-classes/text-classes.css";

body {
    background-color: rgb(189, 189, 189);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%; 
}

div {    
    width: 40%;  
    justify-content: center;
    margin: auto;
}

article {    
    width: 35%;  
    justify-content: center;
    margin: auto;
}

td {
    text-align: justify;
}

.text-red {
    color: red;
    font-style: italic;
}

.text-byn {
    color: black;
    background: white;
    font-weight: bold;
}